<%- include("partials/header.ejs") %>

<section class="header">
    <nav class="header__navbar">
        <div class="header__links">
            <p class="header__links-item"><a href="https://www.linkedin.com/in/benedict-estefan-halkin-074072239">Linkedin</a></p>
            <p class="header__links-item"><a href="https://www.github.com/Bento688">Github</a></p>
        </div>
    </nav>
</section>

<section class="cityinput">
    <div class="cityinput__container">
        <h2 class="cityinput__heading">Weather.see</h2>

        <form class="cityinput__form" action="/fetchdata" method="post">
            <label class="cityinput__label" for="cityname">Input City :</label>
            <input class="cityinput__input" type="text" id="cityname" name="city">
            <button class="cityinput__submit" type="submit">Search!</button>
        </form>
    </div> 
</section>

<section class="currentweatherdata" <%= initial ? 'weather-flex' : '' %>>
    <% if (initial === true) { %>
        <p class="currentweatherdata__waiting"><%= content %></p>
    <% } else { %>
        <div class="currentweatherdata__container">
            <div class="currentweatherdata__location-container">
                <p class="currentweatherdata__location"><%= data.location.name %></p>
                 <img class="current-img" src="<%= data.current.condition.icon %>" alt="weather icon">
            </div>
            <div class="currentweatherdata__currents">
                <p class="currentweatherdata__status">
                    <%= data.current.condition.text %> // 
                    <%= data.current.temp_c %> °C // 
                    Feels like: <%= data.current.feelslike_c %> °C
                </p>
            </div>
            <p class="currentweatherdata__maxmin">Max : <%= data.forecast.forecastday[0].day.maxtemp_c %> °C Min : <%= data.forecast.forecastday[0].day.mintemp_c %> °C</p>
        </div>
    <% } %>
</section>

<% if (locals.data) { %>
    <section class="forecast">
        <h1 class="forecast__heading">10-day forecast</h1>
        <div class="forecast__container">
        <% for (let i = 0; i < 10; i++) { %>
            <div class="forecast__card">
                <p>
                    <span class="card-day"><%= data.forecast.forecastday[i].dayName %></span> 
                    <img class="card-img" src="<%= "https:" + data.forecast.forecastday[i].day.condition.icon %>" alt="Daily Icon">
                </p>
                <p>
                    Low : <span class="card-bold"> <%= data.forecast.forecastday[i].day.mintemp_c %>°C </span> --- High : <span class="card-bold"><%= data.forecast.forecastday[i].day.maxtemp_c %>°C</span> 
                </p>
                <p>
                    Rain % : <span class="card-bold"><%= data.forecast.forecastday[i].day.daily_chance_of_rain %>%</span>
                </p>
            </div>
        <% } %>    
        </div>
    </section>
<% } %>



<%- include("partials/footer.ejs") %>

